<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Tsup" %></title>

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="Tsup" />
  <meta name="author" content="Tsup" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-inverse navbar-fixed-top">
    <nav class="navbar-inner">
      <div class="container">
        <nav>
          <%= link_to(image_tag(yield(:logo_path) ), root_path, :class => 'brand')%>
          <%= yield(:post_tsup) %>
        </nav>
      </div>
    </nav>
  </header>
  <div id="main" role="main">
    <div class="container">
      <div class="content">
          <%= yield %>
        <footer></footer>
      </div>
    </div>
  </div>

</body>
</html>
